fastapi 
uvicorn 
python-multipart 
python-jose[cryptography] 
passlib[bcrypt] 
bcrypt 
tinydb 
boto3 
python-dotenv 
pydantic 
transformers 
torch 
scikit-learn 
pytesseract 
pdf2image 
spacy 
numpy 
Pillow 
pypdf2 
python-magic 
requests 
